.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 173);
    padding: 20px;
    width: 100%;
}

#display{
    width: 100%;
}

#slider{
    width: 100%;
}

#legnth{
    display: inline-block;
    width: 100px;
}

.previous_passwords{
    margin-bottom: 20px ;
}
